.root {
    display: flex;
    height: 50%;
    justify-content: center;
    align-items: center;
    margin-top: 5%;

}

table {
    border-collapse: collapse;
    font-size: 1.1em;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 50px 0px 20px 10px rgba(5, 1, 1, 0.174);
    margin-left: 3%;
    margin-right: 3%;
        padding: .5% 0 .5% 0;
        padding: 0% 0 0% .5%;

}

tr {
    color: #254D91;
    text-align: center;
    transition: all 1s ease-in-out;

}

td {
    padding: .5% 0 .5% 0;
    background-color: rgb(248, 248, 250);
}

th {
    padding: .5% 0 .5% 0;
    background-color: rgba(129, 133, 129, 0.758);
    color: white;
    font-size: large;

}

td:hover {
    background-color: rgb(156, 160, 156);
    color: white;
}

h1 {
    text-align: center;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: #254D91;
    margin-top: 5%;
    font-weight: bolder;

}

button {
    background-color: rgba(129, 133, 129, 0.758);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 6%;

}

button:hover {
    background-color: rgba(207, 237, 137, 0.803);
    color: rgb(241, 231, 231);
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}