<h1>{{titre}}</h1>
<div class="container-fluid " id="Rroot">
    <div id="Rrow" class="row" *ngFor="let element of data">
        <div class="Rrow ">
            <div id="RrowCol">


                <div class="col-lg-4">
                    <a routerLink={{element.route}}>
                        <button class="btn Banim" #Bsubmit>
                            {{element.title}}
                        </button>
                    </a>

                </div>

                <div class=" Rcontenue col-lg-4">
                    <p>{{element.description}}</p>
                </div>

                <div id="err" class="col-lg-4">
                    <p id="ErrP">{{element.erreur}}</p>
                </div>

            </div>

        </div>

    </div>
    <div class="modification">
        <a routerLink="/smart-planing/importer">
            <button class="btn btn-danger p-3 mt-5 ">
                <img src="./assets/img/edit.png" width="40px" height="30px">

                <div class="pt-2">Corriger</div>
            </button>
        </a>
    </div>
</div>