<h1>{{titre}}</h1>
<div class="container-fluid " id="Rroot">
    <div id="Rrow" class="row" *ngFor="let element of data">
        <div class="Rrow ">
            <div id="RrowCol">


                <div class="col-lg-4" >
                    <a routerLink={{element.route}}>
                        <button class="btn Banim" #Bsubmit >
                            {{element.title}}
                        </button>
                    </a>

                </div>

                <div class=" Rcontenue col-lg-4">
                    <p>{{element.description}}</p>
                </div>

                <div id="err" class="col-lg-4">
                    <p id="ErrP">{{element.erreur}}</p>
                </div>

            </div>


        </div>
    </div>
    
                  

