

<h1>{{titre}}</h1>

<div class="container-fluid choses ">
    <div class="row import">
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table des séances à planifiées
                    <input type="file" id="input-file-now-custom-2" class="file-upload" data-height="500" id="SP" #nom
                        (change)="getFile($event,nom.id)">
                </label>
            </div>


        </div>
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table des disponibilités
                    <input class="form-control" type="file" id="TD" #nom1 (change)="getFile($event,nom1.id)">

                </label>
            </div>
        </div>
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table de préférence des disponibilités
                    <input class="form-control" type="file" id="PD" #nom2 (change)="getFile($event,nom2.id)">

                </label>
            </div>

        </div>
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table des salles
                    <input class="form-control" type="file" id="TS" #nom3 (change)="getFile($event,nom3.id)">

                </label>
            </div>

        </div>
    </div>

    <div id="envoyer">

        <a routerLink="./Waiter">

            <button type="submit" id="envoyer" (click)="traiter()">
                <img src="./assets/img/traiter.png">
                Traiter
            </button>
        </a>

    </div>

</div>
