<h1>{{titre}}</h1>

<div class="container-fluid choses ">
    <div class="row import">
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table des séances à planifiées
                    <input type="file" accept=".xlsx" required id="input-file-now-custom-2" class="file-upload" data-height="500" id="SP" #nom
                        (change)="getFile($event,nom.id)">
                </label>
            </div>
            <img src="./assets/img/checked.png" id="im1">


        </div>
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table des disponibilités
                    <input class="form-control" type="file" accept=".xlsx" required id="TD" #nom1 (change)="getFile($event,nom1.id)">
                </label>

            </div>
            <img src="./assets/img/checked.png" id="im2">

        </div>
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table de préférence disponibilités
                    <input class="form-control" type="file" accept=".xlsx" id="PD" #nom2 (change)="getFile($event,nom2.id)">

                </label>
            </div>
            <img src="./assets/img/checked.png" id="im3">

        </div>
        <div id="row" class="col-lg-6">
            <div class="col-md-12">
                <label>Selectionnez la table des salles
                    <input class="form-control" type="file" accept=".xlsx" required id="TS" #nom3 (change)="getFile($event,nom3.id)">

                </label>

            </div>
            <img src="./assets/img/checked.png" id="im4">

        </div>
    </div>

   

</div>