<h1>Importation des données</h1>

<div class="container-fluid choses ">
    <div class="row import">
        <div id="row" class="col-lg-6">
            <div>
                <label>Selectionnez la table des séances à planifiées</label>
                <button id="choix" class="file"><input class="form-control" type="file" value="1"
                        (change)="getFile($event)">Choix</button>
            </div>
            <button type="submit" class="Bimporter" value="SP" #file (click)="importer(file.value)">
                <a>
                    importer
                </a>
            </button>
        </div>
        <div id="row" class="col-lg-6">
            <div>
                <label>Selectionnez la table des disponibilités</label>
                <button id="choix" class="file"><input class="form-control" type="file" value="2"
                        (change)="getFile($event)">Choix</button>
            </div>
            <button type="submit" class="Bimporter" value="TD" #file (click)="importer(file.value)">
                <a>
                    importer
                </a>
            </button>
        </div>
        <div id="row" class="col-lg-6">
            <div>
                <label>Selectionnez la table de préférence des disponibilités</label>
                <button id="choix" class="file"><input class="form-control" type="file" value="3"
                        (change)="getFile($event)">Choix</button>
            </div>
            <button type="submit" class="Bimporter" value="PD" #file (click)="importer(file.value)">
                <a>
                    importer
                </a>
            </button>
        </div>
        <div id="row" class="col-lg-6">
            <div>
                <label>Selectionnez la table des salles</label>
                <button id="choix" class="file"> <input class="form-control" type="file" value="4"
                        (change)="getFile($event)">Choix</button>
            </div>
            <button type="submit" class="Bimporter" value="TS" #file (click)="importer(file.value)">
                <a>
                    importer
                </a>
            </button>
        </div>
    </div>

    <div id="envoyer">


        <button type="submit" value="envoyer" (click)="traiter()">
            <a routerLink="./PreTraitement">
                Envoyer
            </a>
        </button>
    </div>
<a routerLink=".."><button class="Bimporter">Retoure</button></a>

</div>
<div class="progress">
    <div class="Purcentage">
    </div>
</div>