<h1>{{titre}}</h1>
<div class="container-fluid " id="Preroot">

    <div id="Prerow" class="row" *ngFor="let element of data">
        <div class="Prerow ">
            <div id="PrerowCol">

                <div class="col-lg-4">
                    <a routerLink={{element.route}}>
                        <button class="btn Banim" #Bsubmit (click)="go(Bsubmit.value)">
                            {{element.title}}
                        </button>
                        <img src="./assets/img/click.png" id={{element.id}} width="30px" height="30px" #valeur>

                    </a>
                </div>

                <div class="Precontenue col-lg-4">
                    <p>{{element.description}}</p>
                </div>

                <div id={{element.id}} class="col-lg-4">
                    <p id="ErrP">{{element.erreur}}</p>
                </div>

            </div>


        </div>
    </div>

</div>
