<h1>{{titre}}</h1>
<div class="container-fluid " id="root">

    <div id="row" *ngFor="let element of data">
        <div class="row " (mouseover)="click(valeur)" (mouseleave)="hide(valeur)">
            <div id="rowCol">

                <div class="col" (mouseover)="click(valeur)" (mouseleave)="hide(valeur)">
                    <a routerLink={{element.route}}>
                        <button class="btn Banim" #Bsubmit (click)="go(Bsubmit.value)">
                            {{element.title}}
                        </button>
                        <img src="./assets/img/click.png" id={{element.id}} width="30px" height="30px" #valeur>

                    </a>
                </div>

                <div class="contenue">
                    <p>{{element.description}}</p>
                </div>

                <div id={{element.id}}>
                    <p id="ErrP">{{element.erreur}}</p>
                </div>

            </div>


        </div>
    </div>

</div>
