.option{
    background: #fff;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    padding: 0 10px;
    border: 2px solid lightgrey;
    transition: all 0.3s ease;
  }


  input[type="radio"]{
    display: none;
  }
  
  .radio:checked:checked ~ .option-1{
    border-color: #8200d9;
    background: #8200d9;
  }
  .radio:checked:checked ~ .option-2{
    border-color: #0069d9;
    background: #0069d9;
  }
  .radio:checked:checked ~ .option-3{
    border-color: #09aee0;
    background: #09aee0;
  }

  .option span{
    font-size: 20px;
    color: #808080;
  }
  .radio:checked:checked ~ .option-1 span,
  .radio:checked:checked ~ .option-2 span,
  .radio:checked:checked ~ .option-3 span{
    color: #fff;
  }

  .bg-little-grey{
    background-color: #e6e7e8;
  }