<div class="container-fluid">



    <div class="row " id="row2">
        <div class="col-md-6">
            <div class="carre">
                <div class="mat-elevation-z4" >
                    <img src="./assets/img/buid.png" width="70px" height="75px" id="img1">

                    <a routerLink="./importer">
                        <app-chose [title]="titles[0]" [description]="descriptions[0]"></app-chose>
                    </a>
                </div>
            </div>
        </div>
        <div class=" col-md-4">
            <div class="carre">
                <div class=" mat-elevation-z4">
                    <img src="./assets/img/test.png" width="80px" height="75px" id="img2">

                    <a routerLink="./evaluer">
                        <app-chose [title]="titles[1]" [description]="descriptions[1]"></app-chose>
                    </a>
                </div>
            </div>
        </div>


    </div>

   
</div>