<div class="Progroot">
    <!-- <div class="Progbarre">
        <div class="Progpourcentage">
            {{NomPage}}
        </div>
    </div> -->
    <div class="ProgButton">
    
        <a routerLink={{PathRetoure}} (click)="update()" id="retoure">
            <button id="retoure">Précèdent</button>
        </a>
        <a routerLink="/">
            <button>Accueil</button>
        </a>
        <a routerLink={{PathContinue}} (click)="update()" >
            <button id="continue">Suivant</button>
        </a>
    </div>
</div>