<div class="Progroot">
    <div class="ProgButton">

        <a id="retoure">
            <button class="ps-3 pe-3 pb-2 pt-2" id="retoure" (click)="previous()">Précèdent</button>
        </a>
        <a routerLink="/smart-planing">
            <button class="ps-3 pe-3 pb-2 pt-2 ">Quitter</button>
        </a>
        <a>
            <button class="ps-3 pe-3 pb-2 pt-2" id="continue" (click)="next()">Suivant</button>
        </a>
    </div>
    <div class="casebarre">
        <div class="navbar pages navbar-expand-lg mt-4">
            <div class="container-fluid page " id={{etap.index}} *ngFor='let etap of etaps'>
                <p>
                    {{etap.title}}
                </p>

            </div>
        </div>
    </div>
</div>