<div class="Progroot">
    <div class="ProgButton">

        <a id="lien">
            <button class="ps-3 pe-3 pb-2 pt-2 " id="retoure" (click)="previous()">

                Précèdent</button>
        </a>
        <a routerLink="/smart-planing/importer" style="display:none" id="co">
            <button class="ps-3 pe-3 pb-2 pt-2 ms-2 me-2 " style="background-color:red;">Corriger</button>
        </a>
        <a id="lien">
            <button class="ps-3 pe-3 pb-2 pt-2 " id="continue" (click)="next()">Suivant
            </button>
        </a>
    </div>
    <div class="casebarre">
        <div class="navbar pages navbar-expand-lg mt-4">
            <div class="container-fluid page " id={{etap.index}} *ngFor='let etap of etaps'>
                <p>
                    {{etap.title}}
                </p>


            </div>
        </div>
    </div>
</div>