<igx-stepper #stepper [linear]="true">



    <igx-step #step1 [isValid]="StepperConfig[0].isValide">


        <span igxStepTitle>{{StepperConfig[0].StepTitle}}</span>
        <div igxStepContent>

            <!-- smart-planing page 1 -->

            <div class="Sroot">
                <div class="carre">
                    <img src="./assets/img/buid.png" width="70px" height="75px" id="img1">

                    <div igxButton="raised" style="color:black" (click)="login(stepper)">

                        <button id="button">
                            <h1>
                                <div id="case2">

                                    <p id="Ptitre">{{PageData[0].Title[0]}}</p>
                                    <p id="Pdescr">{{PageData[0].descriptions[0]}}</p>
                                </div>
                            </h1>
                        </button>
                    </div>

                </div>



                <div class="carre">
                    <img src="./assets/img/test.png" width="80px" height="75px" id="img2">

                    <div igxButton="raised" style="color:black">

                        <button id="button">
                            <h1>
                                <div id="case2">

                                    <p id="Ptitre">{{PageData[0].Title[1]}}</p>
                                    <p id="Pdescr">{{PageData[0].descriptions[1]}}</p>
                                </div>
                            </h1>
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <!-- ------------------------------------------ -->

    </igx-step>

    <igx-step #step2 [isValid]="StepperConfig[1].isValide">>


        <span igxStepTitle>{{StepperConfig[1].StepTitle}}</span>
        <div igxStepContent>


            <!--------------------Importer-------------------------------------->
            <h1 id="Title2HideImporter">{{StepperConfig[1].PageTitle}}</h1>

            <div class="container-fluid choses ">
                <div class="row  import">
                    <div id="row" class="col-lg-6">
                        <div class="col-md-12">
                            <label>Selectionnez la table des séances à planifiées
                                <input type="file" accept=".xlsx" required id="input-file-now-custom-2"
                                    class="file-upload" data-height="500" id="SP" #nom
                                    (change)="getFile($event,nom.id)">
                            </label>
                        </div>
                        <img src="./assets/img/checked.png" style="display:none" id="im1">


                    </div>
                    <div id="row" class="col-lg-6">
                        <div class="col-md-12">
                            <label>Selectionnez la table des disponibilités
                                <input class="form-control" type="file" accept=".xlsx" required id="TD" #nom1
                                    (change)="getFile($event,nom1.id)">
                            </label>

                        </div>
                        <img src="./assets/img/checked.png" style="display:none" id="im2">

                    </div>
                    <div id="row" class="col-lg-6">
                        <div class="col-md-12">
                            <label>Selectionnez la table de préférence disponibilités
                                <input class="form-control" type="file" accept=".xlsx" id="PD" #nom2
                                    (change)="getFile($event,nom2.id)">

                            </label>
                        </div>
                        <img src="./assets/img/checked.png" style="display:none" id="im3">

                    </div>
                    <div id="row" class="col-lg-6">
                        <div class="col-md-12">
                            <label>Selectionnez la table des salles
                                <input class="form-control" type="file" accept=".xlsx" required id="TS" #nom3
                                    (change)="getFile($event,nom3.id)">

                            </label>

                        </div>
                        <img src="./assets/img/checked.png" style="display:none" id="im4">

                    </div>
                </div>



            </div>
            <!----------------------Timer--------------------------->
            <div class="case" style="display:none">
                <div class="timing ">
                    <div class="counter">
                        {{counter}}
                    </div>
                    <div class="fin">
                        <h2>Terminer</h2>
                    </div>
                    <div class="classic-1"></div>
                </div>

            </div>
            <!-------------------------------------------->

            <div class="sample-step-actions">
                <button igxButton="raised" class="btn btn-secondary arreter" (click)="stepper.prev()">Précèdent</button>
                <button igxButton="raised" class="btn btn-secondary" (click)="Lancer(stepper)">Suivant</button>
            </div>
        </div>
    </igx-step>

    <igx-step #step3 [isValid]="StepperConfig[2].isValide">>


        <span igxStepTitle>{{StepperConfig[2].StepTitle}}</span>
        <div igxStepContent>

            <!---------------------Pre-Traitement------------------------->
            <!---------------------------Tableu des erreurs--------------->
            <div id="dialog" title="Basic dialog" style="display:none">
                <h1 class="title">{{TitreTableau}}</h1>

                <div class="root">
                    <table id="table" class="table">
                        <tr class="row thead-dark">
                            <th class="col" *ngFor="let ele of key">{{ele}}</th>
                        </tr>
                        <tr #exist class="row" *ngFor="let elem of value" scope="row">
                            <td class="col" *ngFor="let val of elem">{{val}}</td>
                        </tr>
                        <tr #none class="row" *ngFor="let elem of value" scope="row">
                            <td class="col" *ngFor="let val of elem">{{val}}</td>
                        </tr>

                    </table>
                </div>
            </div>

            <!---------------------------Tableu des erreurs--------------->
            <h1>{{StepperConfig[2].PageTitle}}</h1>
            <div class="container-fluid col-lg-10" id="Preroot">

                <div class="container-fluid ">
                    <div class="d-flex w-100">
                        <h2>
                            Erreurs des salles
                        </h2>

                    </div>
                    <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[0].title)">

                        <li #Erreur id={{PageData[2].data[0].buttonID}}
                            class="list-group-item d-flex w-50 justify-content-between align-items-center ">
                            {{PageData[2].data[0].title}}
                            <span class="badge  fw-bold ">{{ComingDataPreTrai["E_Groupe"]}}</span>
                        </li>
                        <div class="btnPi  ">
                            <button class="w-100" [title]="'Details sur l\''+PageData[2].data[0].title"
                                data-toggle="popover" data-placement="top"
                                attr.data-bs-content={{PageData[2].data[0].description}}>i</button>
                        </div>

                    </ul>
                    <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[1].title)">

                        <li #Erreur id={{PageData[2].data[1].buttonID}}
                            class="list-group-item d-flex w-50 justify-content-between align-items-center ">
                            {{PageData[2].data[1].title}}
                            <span class="badge  fw-bold ">{{ComingDataPreTrai["E_duree"]}}</span>
                        </li>
                        <div class="btnPi  ">
                            <button class="w-100" [title]="'Details sur l\''+PageData[2].data[1].title"
                                data-toggle="popover" data-placement="top"
                                attr.data-bs-content={{PageData[2].data[1].description}}>i</button>
                        </div>

                    </ul>
                    <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[2].title)">

                        <li #Erreur id={{PageData[2].data[2].buttonID}}
                            class="list-group-item d-flex w-50 justify-content-between align-items-center ">
                            {{PageData[2].data[2].title}}
                            <span class="badge  fw-bold ">{{ComingDataPreTrai["E_intrv"]}}</span>
                        </li>
                        <div class="btnPi  ">
                            <button class="w-100" [title]="'Details sur l\''+PageData[2].data[2].title"
                                data-toggle="popover" data-placement="top"
                                attr.data-bs-content={{PageData[2].data[2].description}}>i</button>
                        </div>

                    </ul>
                    <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[3].title)">

                        <li #Erreur id={{PageData[2].data[3].buttonID}}
                            class="list-group-item d-flex w-50 justify-content-between align-items-center ">
                            {{PageData[2].data[3].title}}
                            <span class="badge  fw-bold ">{{ComingDataPreTrai["E_nbEtud"]}}</span>
                        </li>
                        <div class="btnPi  ">
                            <button class="w-100" [title]="'Details sur l\''+PageData[2].data[3].title"
                                data-toggle="popover" data-placement="top"
                                attr.data-bs-content={{PageData[2].data[3].description}}>i</button>
                        </div>

                    </ul>
                    <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[4].title)">

                        <li #Erreur id={{PageData[2].data[4].buttonID}}
                            class="list-group-item d-flex w-50 justify-content-between align-items-center ">
                            {{PageData[2].data[4].title}}
                            <span class="badge  fw-bold ">{{ComingDataPreTrai["E_nbSea"]}}</span>
                        </li>
                        <div class="btnPi  ">
                            <button class="w-100" [title]="'Details sur l\''+PageData[2].data[4].title"
                                data-toggle="popover" data-placement="top"
                                attr.data-bs-content={{PageData[2].data[4].description}}>i</button>
                        </div>

                    </ul>

                </div>

                <div class="container-fluid">

                    <div class="d-flex w-100 title">
                        <h2>
                            Problemes de disponibilite
                        </h2>

                    </div>
                    <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[5].title)">
                        <li #Erreur id={{PageData[2].data[5].buttonID}}
                            class="list-group-item d-flex w-50 justify-content-between align-items-center">
                            {{PageData[2].data[5].title}}
                            <span class="badge  fw-bold ">{{ComingDataPreTrai["HorsDisp"]}}</span>
                        </li>
                        <div class="btnPi">
                            <button class="w-100" [title]="'Details sur l\''+PageData[2].data[5].title"
                                data-toggle="popover" data-placement="top"
                                attr.data-bs-content={{PageData[2].data[5].description}}>i</button>
                        </div>
                    </ul>
                    <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[6].title)">
                        <li #Erreur id={{PageData[2].data[6].buttonID}}
                            class="list-group-item d-flex w-50 justify-content-between align-items-center">
                            {{PageData[2].data[6].title}}
                            <span class="badge  fw-bold ">{{ComingDataPreTrai["NonSaisieDisp"]}}</span>
                        </li>
                        <div class="btnPi">
                            <button class="w-100" [title]="'Details sur l\''+PageData[2].data[6].title"
                                data-toggle="popover" data-placement="top"
                                attr.data-bs-content={{PageData[2].data[6].description}}>i</button>
                        </div>
                    </ul>



                    <div class="col-lg-12 ">
                        <div class=" d-flex w-100">
                            <h2>
                                Resumer des erreurs
                            </h2>

                        </div>
                        <ul class="d-flex" (click)="ErreursDetails(Erreur.id,PageData[2].data[7].title)">
                            <li #Erreur id={{PageData[2].data[7].buttonID}}
                                class="list-group-item d-flex w-50 justify-content-between align-items-center">
                                {{PageData[2].data[7].title}}
                                <span class="badge  fw-bold  ">{{ComingDataPreTrai["SecNonPlanif"]}}</span>
                            </li>
                            <div class="btnPi">
                                <button class="w-100" [title]="'Details sur l\''+PageData[2].data[7].title"
                                    data-toggle="popover" data-placement="top"
                                    attr.data-bs-content={{PageData[2].data[7].description}}>i</button>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
            <!------------------------------------------------------------->
            <div class="sample-step-actions">
                <button igxButton="raised" class="btn btn-secondary" (click)="stepper.prev()">Précèdent</button>
                <button igxButton="raised" class="btn btn-secondary"
                    (click)="LancerPreTraiAlgo(stepper)">Suivant</button>
            </div>
        </div>
    </igx-step>

    <igx-step #step4 [isValid]="StepperConfig[3].isValide">


        <span igxStepTitle>{{StepperConfig[3].StepTitle}}</span>
        <div igxStepContent>

            <!----------------------------Lancement de l'algo--------------------------->
            <h1 id="Titre2Hide">{{StepperConfig[3].PageTitle}}</h1>
            <div class=" container-fluid " id="rootLancer">
                <div id="rowLancer">

                    <div id="rowCol ">
                        <div class="btn Banim justify-content-between">
                            <div>{{PageData[3].data[0].title}} :</div>
                            <span class="badge  fw-bold  ">{{ComingDataResumerPre["nombre_intervenants"]}}</span>
                        </div>
                    </div>
                </div>
                <div id="rowLancer">

                    <div id="rowCol ">
                        <div class="btn Banim  justify-content-between ">
                            <div>{{PageData[3].data[1].title}} :</div>
                            <span class="badge  fw-bold  ">{{ComingDataResumerPre["sections_planifiees"]}}</span>
                        </div>
                    </div>
                </div>
                <div id="rowLancer">

                    <div id="rowCol ">
                        <div class="btn Banim  justify-content-between">
                            <div>{{PageData[3].data[2].title}} :</div>
                            <span class="badge  fw-bold  ">{{ComingDataResumerPre["nb_salles"]}}</span>
                        </div>
                    </div>
                </div>
                <div id="rowLancer">

                    <div id="rowCol ">
                        <div class="btn Banim justify-content-between">
                            <div>{{PageData[3].data[3].title}} :</div>
                            <span class="badge  fw-bold  ">{{ComingDataResumerPre["nombre_groupes"]}}</span>
                        </div>
                    </div>
                </div>
                <div id="rowLancer">

                    <div id="rowCol ">
                        <div class="btn Banim justify-content-between">
                            <div>{{PageData[3].data[4].title}} :</div>
                            <span class="badge  fw-bold  ">{{ComingDataResumerPre["nb_SeaNonPlanif"]}}</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="case" style="display:none">
                <div class="timing ">
                    <div class="counter">
                    </div>
                    <div class="fin">
                        <h2>Terminer</h2>
                    </div>

                    <div class="classic-1"></div>


                </div>
                <div class="info">
                    <p>Les informations: {{counter}}</p>
                    <p>Les informations: {{counter}}</p>
                    <p>Les informations: {{counter}}</p>
                </div>
            </div>


            <!-------------------------------------------------------------------------->
            <div class="sample-step-actions">
                <!------------------------Loader-------------------------------------->
                <button igxButton="raised" class="btn btn-secondary " (click)="stepper.prev()">Précèdent</button>
                <button igxButton="raised" class="btn btn-secondary" id="btnLancer">Lancer</button>
            </div>
        </div>
    </igx-step>

    <igx-step #step5 [isValid]="StepperConfig[4].isValide">
        <span igxStepTitle>{{StepperConfig[4].StepTitle}}</span>
        <!-------------------------Resultat------------------------------>
        <div igxStepContent>
            <h1>{{StepperConfig[4].PageTitle}}</h1>
            <div class="rootPlanification d-block">
                <div id="Partie1">
                    <div class="form-check d-flex planification">
                        <button class="btn me-2 btn-secondary"><i class="fa fa-download"></i></button>
                        <button class="btn btn-info btn-lg">
                            <i class="fa fa-eye"></i>
                        </button>
                        <label for="3"> Planification {{erreur[0].id}} : {{erreur[0].Err}} Erreur</label>

                    </div>
                    <div class="form-check d-flex planification">
                        <button class="btn me-2 btn-secondary"><i class="fa fa-download"></i></button>
                        <button class="btn btn-info btn-lg">
                            <i class="fa fa-eye"></i>
                        </button>
                        <label for="3"> Planification {{erreur[2].id}} : {{erreur[2].Err}} Erreur</label>

                    </div>
                    <div class="form-check d-flex planification ">
                        <button class="btn me-2 btn-secondary"><i class="fa fa-download"></i></button>
                        <button class="btn btn-info btn-lg">
                            <i class="fa fa-eye"></i>
                        </button>
                        <label for="3"> Planification {{erreur[2].id}} : {{erreur[2].Err}} Erreur</label>

                    </div>
                    <div class="form-check d-flex planification">
                        <button class="btn me-2 btn-secondary"><i class="fa fa-download"></i></button>
                        <button class="btn btn-info btn-lg">
                            <i class="fa fa-eye"></i>
                        </button>
                        <label for="3"> Planification {{erreur[2].id}} : {{erreur[2].Err}} Erreur</label>

                    </div>
                </div>
                <div id="Partie2">
                    <div class=" planification ">

                        <label for="3"> Temps Estimer: <span>{{TempsEstimer}}</span></label>
                        <label for="3"> Meilleur Planification: <span>{{MilleuPlan}}</span></label>

                    </div>
                </div>
            </div>
            <!---Resultat------------------------------>

            <div class="sample-step-actions">
                <button igxButton="raised" class="btn btn-secondary" (click)="stepper.prev()">Précèdent</button>
                <button igxButton="raised" class="btn btn-secondary" (click)="ArreterAlgo()">Terminer</button>
            </div>
        </div>
    </igx-step>



</igx-stepper>