<h1>{{titre}}</h1>
<div id="dialog" title="Tableau de Bord">
    <div class='tableauPlaceholder' id='viz1658486490626' style='position: relative'><noscript><a href='#'><img
                    alt='Tableau de bord des planifications '
                    src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard_EDT_V3&#47;Tableaudeborddesplanificationsnombre&#47;1_rss.png'
                    style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
            <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
            <param name='embed_code_version' value='3' />
            <param name='site_root' value='' />
            <param name='name' value='Dashboard_EDT_V3&#47;Tableaudeborddesplanificationsnombre' />
            <param name='tabs' value='no' />
            <param name='toolbar' value='yes' />
            <param name='static_image'
                value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Da&#47;Dashboard_EDT_V3&#47;Tableaudeborddesplanificationsnombre&#47;1.png' />
            <param name='animate_transition' value='yes' />
            <param name='display_static_image' value='yes' />
            <param name='display_spinner' value='yes' />
            <param name='display_overlay' value='yes' />
            <param name='display_count' value='yes' />
            <param name='language' value='en-US' />
            <param name='filter' value='publish=yes' />
        </object></div>
</div>

<div class="container">

    <div class="row1">
        <div class="tempEs d-flex">
            <p>Temps Decouler : </p>
            <span id="Temp">{{TempsEstimer}}</span>
        </div>
        <div class="MieuPlan d-flex">
            <p>Meilleur planification: </p>
            <span id="MPlan">{{MilleuPlan}}</span>
        </div>
    </div>
    <div class="row2">
       
        <div id="row" class=" row container-fluid">


            <div class="row d-flex justify-content-between">
                <div class="col rowL d-flex col-lg-6 col-md-6 ">

                    <label for="1"> Planification {{Erreur[0].id}} : {{Erreur[0].Err}} Erreur</label>
                    <div class="btnR">
                        <button id="visualiser1" #visualiser (click)="do(visualiser)"><img src="./assets/img/vue.png"></button>
                        <button id="telecharger1" #telecharger (click)="do(telecharger)"><img src="./assets/img/download.png"></button>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6  ">

                </div>
            </div>

            <div class="row d-flex justify-content-between">
                <div class="col rowL d-flex col-lg-6 col-md-6 ">

                    <label for="2"> Planification {{Erreur[1].id}} : {{Erreur[1].Err}} Erreur</label>
                    <div class="btnR">
                        <button id="visualiser2" #visualiser (click)="do(visualiser)"><img src="./assets/img/vue.png"></button>
                        <button id="telecharger2" #telecharger (click)="do(telecharger)"><img src="./assets/img/download.png"></button>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6  ">

                </div>
            </div>

            <div class="row d-flex justify-content-between">
                <div class="col rowL d-flex col-lg-6 col-md-6 ">

                    <label for="3"> Planification {{Erreur[2].id}} : {{Erreur[2].Err}} Erreur</label>
                    <div class="btnR">
                        <button id="visualiser3" #visualiser (click)="do(visualiser)"><img src="./assets/img/vue.png"></button>
                        <button id="telecharger3" #telecharger (click)="do(telecharger)"><img src="./assets/img/download.png"></button>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6  ">

                </div>
            </div>
            <div class="row d-flex justify-content-between">
                <div class="col rowL d-flex col-lg-6 col-md-6 ">

                    <label for="4"> Planification {{Erreur[3].id}} : {{Erreur[3].Err}} Erreur</label>
                    <div class="btnR">
                        <button id="visualiser4" #visualiser (click)="do(visualiser)"><img src="./assets/img/vue.png"></button>
                        <button id="telecharger4" #telecharger (click)="do(telecharger)"><img src="./assets/img/download.png"></button>
                    </div>
                </div>
                <div class=" col-lg-3 col-md-6  ">

                </div>
            </div>
        </div>
        <div class="arreter">
            <button id="arreter" (click)="hide()" class="btn btn-danger p-4">
                Arreter
            </button>
            <button id="opener" class="btn btn-primary p-4" style="display:none;">Comparer</button>

        </div>
    </div>







</div>