<h1>{{titre}}</h1>

<div class="container">
    <div class="calendrier">
        <div class="Tbord">
            <button class="btn">
                <img src="./assets/img/Tbord.png" width="30px" height="35px">
                Tableau Bord</button>

            

        </div>
    </div>

    <div class="row">


        <div class="Plan">
            <input type="radio" id="1" name="Erreur" value="1" checked>
            <label for="1"> Planification {{Erreur[0].Err}} : {{Erreur[0].id}}</label>
        </div>

        <div class="Plan">
            <input type="radio" id="2" name="Erreur" value="2">
            <label for="2"> Planification {{Erreur[1].Err}} : {{Erreur[1].id}}</label>
        </div>

        <div class="Plan">
            <input type="radio" id="3" name="Erreur" value="3">
            <label for="3"> Planification {{Erreur[2].Err}} : {{Erreur[2].id}}</label>
        </div>
        <div class="Plan">
            <input type="radio" id="4" name="Erreur" value="4">
            <label for="4"> Planification {{Erreur[2].Err}} : {{Erreur[2].id}}</label>
        </div>



    </div>

    <div class="calendrier">
        <div class="col">
            <button class="btn">
                <img src="./assets/img/calend.png" width="30px" height="35px">
                Calendrier</button>

        </div>

    </div>

</div>