.case {
    display: block;
    justify-content: center;
    margin: 10% 45% 7% 40%;
    color: hsl(180, 100%, 1%);
        width: 25%;
        height: auto;
        background-color: rgba(51, 102, 153, 0.8);
        border-radius: 5px;
        
        padding: 4% 4% 4% 4%;
       
        position: relative;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
        transition: all 0.5s ease;
        transform: scale(1);
    
}
.timing{
    display: flex;
    
}
h2{ 
    margin:10%;
    font-size: 350%;
    font-weight: bolder;
    color : rgb(254, 255, 255)
}

.info{
    margin-top: 10%;
    font-size: 150%;
    color:rgb(195, 194, 194);
    
}
.fin h2{
    filter: brightness(120%);
    font-size: 350% ;
    margin-left: 0;
}
 [class*=classic]:before {
     content: "Processing...";
     color: rgb(253, 253, 253);
 }

 .classic-1 {
     font-weight: bold;
     font-family: sans-serif;
     margin-top: 13%;
     margin-left: 5%;
     position: static;
     font-size: 200%;
     animation: c1 1s linear infinite alternate;
 }

 @keyframes c1 {
     to {
         opacity: 0
     }
 }